// Define variables for your color scheme

// For example:
$purple: #662e9b;
$yellow: #ffad05;
$orange: #f2542d;
$green: #8fcb9b;
$white: #faf9f9;
$ligh-green: #ddf9c1;
$red: #c93d40;
// $blue: #0D6EFD;
