// Define variables for your color scheme

// For example:
$orange: #FF7E60;
$green: #0B8790;
$light-green: #90DBD0;
$purple: #947EC3;
$yellow: #FDE773;
$light-yellow: #FBF2DD;
$white: #FFF;

// $rose: #E95B7B;
$red: #FC755D;
$black: rgb(0, 0, 0);
