// Define variables for your color scheme

// For example:
$purple: #947EC3;
$yellow: #FFAD05;
$orange: #F2542D;
$green: #8FCB9B;
$white: #ECEBE4;
$light-green: #ddf9c1;
$red: #c93d40;
$black: rgb(0, 0, 0);
$light-yellow: #FBE573;
