.toggle {
  position: absolute;
  transform: scale(0);
}

.toggle + label {
  position: relative;
  cursor: pointer;
  object-fit: contain;
  outline-offset: 10px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 15px;
  border: 0.5px solid grey;
  border-radius: 50px;
  margin: 8px 18px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  color: $green;
    h3 {
      margin: 0;
      font-size: 16px;
    }
}

.toggle:checked + label {
  border: 2px solid $purple;
  outline-offset: 10px;
  border-radius: $border-radius;
}

.form-check {
  padding: 0px !important;
  margin: 0px !important;
}
