.container {
  h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}

.monthly-fact {
  border-radius: 5px;
  height: 140px;
  // padding: 10px;
  position: relative;
    p {
      margin: 0;
    }
}

.pin-monthly-fact {
  position: absolute;
}

.swiper-small {
  --swiper-navigation-size: 20px;
  font-weight: bold;
}

body {
  background-size: cover;
  background-position: center;
}
