.container {
  h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}

.pin-monthly-fact {
  position: absolute;
}

.swiper-small {
  --swiper-navigation-size: 25px;
  font-weight: bold;
}

body {
  background-size: cover;
  background-position: center;
}
