.container {
  h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}

.swiper-small {
  --swiper-navigation-size: 25px;
  font-weight: bold;
}

body {
  background-size: cover;
  background-position: center;
}

.btn-flat {
  border-radius: $border-radius;
}

.month-display {
  color: $light-green;
  font-size: 28px !important;
}

.highlight-title {
  h6 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: .15rem;
  display: flex;
  align-items: center;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: $green;
  text-shadow: -2px 3px 0px #0B8790;
  color: white;
  margin-bottom: 30px;
  }
}
.highlight-title p {
  color: $green;
}
