.icon-lemon-title {
  color: $light-yellow;
}

.icon-carrot-title {
  color: $yellow;
}

.icon-apple-title {
  color: $green;
}

.icon-pepper-title {
  color: $red;
}

.icon-lemon-title,
.icon-apple-title,
.icon-carrot-title,
.icon-pepper-title {
  text-shadow: 0 0 0.5px black, 0 0 0.5px black, 0 0 0.5px black, 0 0 0.5px black;
}

.icon-link-score {
  color: $purple;
  font-size: 26px !important;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 12px;
  background: $green;
}

.title-score {
  color: $purple;
}

.grade-scale-profile {
  padding: 14px 10px 0px 26px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: start;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  .grade-indicator {
    color: rgba(0, 0, 0, 0.7);
    margin-left: 5px;
  }
}

.grade-a {
  color: $light-green;
  font-weight: bold;
}
.grade-b {
  color: $green;
  font-weight: bold;
}
.grade-c {
  color: $light-yellow;
  font-weight: bold;
}
.grade-d {
  color: $yellow;
  font-weight: bold;
}
.grade-e {
  color: $red;
  font-weight: bold;
}

.comment-score {
  font-weight: 700;
}

.smile-title-profile {
  color: $purple;
}

.navbar-profile {
  border-radius: 20px;
  background-color: $light-green;
}
