<div class="swiper mySwiper my-4" data-controller="swiper">
  <div class="swiper-wrapper">
  <% products.shuffle.each do |product| %>
    <div class="swiper-slide">
      <%= link_to product_path(product),
                    class: 'card-category text-decoration-none',
                    style: "background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(#{cl_image_path product.photo.key, :height=>300, :quality=>"auto:good", :width=>200, :crop=>"fill"})" do %>
          <%= product.name.capitalize %>
        <% end %>
    </div>
    <% end %>
  </div>
  <div class="swiper-button-next swiper-small"></div>
  <div class="swiper-button-prev swiper-small"></div>
</div>
