<div class="container">
  <div class="swiper mySwiper my-4" data-controller="swiper">
    <div class="swiper-wrapper" data-action='click->swiper#navigate'>
    <% products.shuffle.each do |product| %>
      <div class="swiper-slide">
        <%= link_to product_path(product),
                      data: { action: 'click->swiper#navigate' },
                      class: 'card-category text-decoration-none',
                      style: "background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(#{cl_image_path product.photo.key, :height=>300, :quality=>"auto:good", :width=>300, :crop=>"fill"})" do %>
            <p><%= product.name.capitalize %></p>
          <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
