<%= form_tag products_path, class: "simple_form_home search rounded", method: :get do |f| %>
  <div class="search-form-control form-group my-3 ">
    <%= text_field_tag :query, params[:query], class: "form-control string required bg-light", id: "search_query", placeholder: "Fraise" %>
    <button name="button" type="submit" class="btn btn-flat d-flex justify-content-center align-items-center">
      <i class="fas fa-search"></i>
    </button>
  </div>
<% end %>
