<div class="row justify-content-center m-2">
  <div class="col-sm-8 m-2">
    <h1>Comment est calculé votre score ?</h1>
    <p> Notre méthodologie est simple et pragmatique.</p>
    <p>Seuls 3 critères sont pris en compte afin de calculer le score.</p>
    <ul>
  </div>
</div>

  <div style="background-image: url('<%= image_url('welcome.svg')%>'); background-repeat: no-repeat;
    background-position: right; height: 360px;">
    <ul>
      <li>La saison du produit</li>
      <li>La provenance du produit</li>
      <li>Le fait que le produit soit issu ou non de l'agriculture biologique</li>
    </ul>
  </div>
