<div class="mt-5 container text-center">
<div style="height:100px"></div>
  <h1><%= @user.username %></h1>
  <h5 class="pt-3"><%= @user == current_user ? "Votre" : "Son" %><span class="title-score"> <strong>tutti score</strong></span> du mois de <%= @current_month %></h5>
  <%= render 'shared/grades_month', score: @current_score, note: @current_note, last: @last_score, last_m: @last_month, user: @user, export: true %>
</div>
</html>
