.card-product {
  overflow: hidden;
  display: flex;
  flex-grow: 1;
}

.card-product img {
  height: 200px;
  object-fit: cover;
  border-radius: $border-radius;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

.card-product h1 {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}

.card-product h3 {
  font-size: 18px;
  margin: 0;
}


.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 20px;
  height: 200px;
  width: 60%;
  background-color: #FFFCF2;
}
