.card-category {
  border-radius: $border-radius;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  background-color: $green;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-decoration: none;
  border: solid 2px $green;
}

.swiper-slide a:hover, .cards-all a:hover {
  color: $white;
}

.card-category-index {
  border-radius: $border-radius;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content:left;
  align-items:flex-end;
  color: white;
  background-color: $white;
  border: 1px solid $white;
  font-size: 14px;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(10,10,10,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  flex-grow: 1;
  text-decoration: none;
}
