.show-container {
  padding: 18px 18px 0px 18px;
}

.show-container-bottom {
  padding: 18px;
}

.card-product-title {
  text-align: justify;
}

.card-product img {
  height: 200px;
  width: 100%;
  border: 2px solid $green;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.card-product {
  // overflow: hidden;
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}


.card-product-description {
  text-align: justify;
  margin-top: 32px;
}

.card-product-info-season {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-bottom: 16px;
  // border: 0.5px solid grey;
  // border-radius: 50px;
  // margin: 26px 18px 0px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.1);
  color: $green;
    h3 {
      margin: 0;
      font-size: 16px;
      // padding-left: 7px;
      font-family: 'Nunito';
    }
}

.card-product-info {
  h5, p {
    margin: 0;
    color: $orange
  }
  p {
    font-size: 12px;
  }
}

.card-product-info-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $orange;
  padding-bottom: 12px;
    h5, p {
    margin: 0;
  }
}

.stamp-season {
  display: flex;
  border: 0.5rem solid #85bc82;
  transform: rotate(12deg);
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #85bc82;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: -29px;
  right: -12px;
  // font-size: 14px;
    p {
      margin: 0;
      line-height: 17px;
    }
}
.stamp-not-season {
    display: flex;
    border: 0.5rem solid $orange;
    transform: rotate(12deg);
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: $orange;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: -29px;
    right: -12px;
    p {
      margin: 0;
      line-height: 17px;
    }
}
