.show-container {
  padding: 18px 18px 4px 18px;
}

.card-product-title {
  text-align: justify;
}

.card-product img {
  height: 200px;
  width: 90%;
  border: 2px solid $green;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.card-product {
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}


.card-product-description {
  text-align: justify;
  margin-top: 32px;
}

.card-product-info-season {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 15px;
  border: 0.5px solid grey;
  border-radius: 50px;
  margin: 26px 18px 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  color: $green;
    h3 {
      margin: 0;
      font-size: 16px;
    }
}

.card-product-info {
  margin-top: 45px;
  h5, p {
    margin: 0;
    color: $orange
  }
  p {
    font-size: 12px;
  }
}

.card-product-info-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}
