.card-user {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: baseline;
  p {
    margin-left: 5px;
    border: 1px solid rgba($color: #000000, $alpha: 0.4);
    padding: 5px 10px;
    border-radius: 15px;
  }
}
