.product-recipes {
  padding: 24px 0px;
  p {
    font-size: 14px;
  }
  a {
    color: $green;
    text-decoration: none;
    padding-bottom: 6px;
    border-bottom: 1px solid $green;
    font-family: 'Nunito';
  }
}
