<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2 class="mb-3"><%= product.name.capitalize %></h2>

    <% if product.season? Date.today.month + 48 %>
      <div class="d-flex align-items-center mb-3">
      <i class="pt-1 fa-solid fa-location-dot text-success"></i><h3 class="ms-3">de saison</h3>
      </div>
    <% else %>
      <div class="d-flex align-items-center mb-3">
        <i class="pt-1 fa-solid fa-location-dot text-danger"></i><h3 class="ms-3">hors saison</h3>
      </div>
    <% end %>

    <% if product.localable %>
      <div class="d-flex align-items-center mb-3">
        <i class="pt-1 fa-solid fa-calendar-check text-success"></i><h3 class="ms-3">potentiellement produit en france</h3>
      </div>
    <% else %>
        <div class="d-flex align-items-center mb-3">
          <i class="pt-1 fa-solid fa-calendar-xmark"></i><h3 class="ms-3">produit hors France</h3>
        </div>
    <% end %>

  </div>
</div>
