<div class="container-sm mx-1">
<h2 class="mt-3">Les fruits de <%= @current_month %></h2>
  <div class="cards-all row justify-content-center">
    <%= render 'shared/carousel', products: @products %>
  </div>
</div>
