<div class="container-sm">
<h2 class="mt-3">Les fruits et légumes de <%= @current_month %></h2>
    <div class="container">
      <%= render 'shared/carousel', products: @products %>
    </div>
  <div class="cards-all row justify-content-center">
      <%= render 'index_product', products: @products %>
  </div>
</div>
