<div class="container-sm mx-1">
<h2 class="mt-3">Les fruits et légumes de <%= @current_month %></h2>
  <div class="cards-all row justify-content-center">
    <%= render 'shared/carousel', products: @products %>
      <% @products.each do |product| %>
        <%= link_to product_path(product),
                    class: 'card-category-index col-4 m-1',
                    style: "background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(#{cl_image_path product.photo.key, quality: :auto, crop: :fill})" do %>
          <%= product.name.capitalize %>
        <% end %>
      <% end %>
  </div>
</div>
